//@import "/node_modules/angular-material/angular-material.scss";
@import "./node_modules/angular-material/angular-material.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Material+Icons);

html,
app {
  height: 100%;
}

body {
  height: 100%;
  font: 16px 'Roboto', sans-serif;
  box-sizing: border-box;
}

*:focus {
  outline: none; // override chrome standard styles
}
